.button {
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  border: none;

  &-primary {
    background: $primary;
    color: white;
    transition: background 0.2s ease-in;

    &:hover {
      color: $primary;
      background-color: transparent;
      outline: 1px solid $primary;
    }
  }

  &-danger {
    background: red;
    color: white;
    transition: background 0.2s ease-in;
    border: 1px solid red;

    &:hover {
      background: transparent;
      color: red;
      border-color: red;
    }
  }

  &-alert {
    background: #ffba23;
    color: white;
    border: 1px solid #ffba23;

    &:hover {
      background: transparent;
      color: #ffba23;
      border-color: #ffba23;
    }
  }
}

.btn-medium {
  font-size: 11px;
  padding: none;
}
