<div class="title-page">
    <h2>Autores</h2>
    <div class="title-page-title"></div>
</div>
<div class="home author">
    <div class="card author__form">
        <div class="card__title ">
            <h3>{{ !update ? 'Agregar nuevo autor' : 'Actualizar Datos de Autor' }}</h3>
        </div>
        <div class="card__body">
            <form class="form" (ngSubmit)="submitForm()" [formGroup]="formCreateAuthor">
                <div class="input" [ngClass]="{'input-error' :validateData('name')} ">
                    <label for="" class="input__title">Nombre</label>
                    <input type="text" class="input__input" formControlName="name">
                    <p class="input__error-message" *ngIf="validateData('name')">
                        Campo Requerido de 3 a 30 caracteres
                    </p>
                </div>
                <div class="input" [ngClass]="{'input-error' :validateData('gender')}">
                    <label for="" class="input__title">Genero</label>
                    <select formControlName="gender" class="input__input" name="" id="">
                        <option value="X">Seleccione su genero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <p class="input__error-message" *ngIf="validateData('gender')">
                        Campo Requerido seleccione un genero
                    </p>
                </div>
                <div class="input" [ngClass]="{'input-error' :validateData('bibliography')}">
                    <label for="" class="input__title">BiBliografia</label>
                    <textarea class="input__input" name="" id="" cols="30" formControlName="bibliography"></textarea>
                    <p class="input__error-message" *ngIf="validateData('bibliography')">
                        Campo Requerido
                    </p>
                </div>
                <div class="input" [ngClass]="{'input-error' :validateData('datebirth')}">
                    <label for="" class="input__title">Fecha de Nacimiento</label>
                    <input type="date" class="input__input" formControlName="datebirth">
                    <p class="input__error-message" *ngIf="validateData('datebirth')">
                        Seleccione una fecha valida
                    </p>
                </div>
                <div class="input">
                    <input #inputFile type="file" name="" id="" (change)="convertImage($event)" style="display: none;">
                    <button *ngIf="photoUpload.length == 0" type="button" (click)="inputFile.click()"
                        class="button button-alert"><i class="fas fa-upload"></i> Subir Foto</button>
                    <div *ngIf="photoUpload.length > 0" class="form__btn">
                        <button (click)="showImageUpload()" type="button"
                            class="button button-primary form__btn-image"><i class="far fa-eye"></i>
                            Ver Foto
                            <div class="form__image-float-hide" #imageToUpload>
                                <img [src]="photoUpload.length == 0 ? 'assets/images/image-not-found.png' : photoUpload"
                                    alt="Imagen de autor">
                                <button type="button"><i class="fas fa-times"></i></button>
                            </div>
                        </button>
                        <button class="button button-danger"><i class="fas fa-trash"></i>
                            Remover Foto</button>
                    </div>
                </div>
                <div class="form__buttons">
                    <button type="submit" class="button button-primary form__buttons-right"><i class="far fa-save"></i>
                        Guardar Datos</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card author__list">
        <div class="card__title">
            <h3>Lista de Autores</h3>
        </div>
        <div class="card__body">
            <table class="table">
                <thead class="table__head">
                    <tr>
                        <th>Nro.</th>
                        <th>Nombre</th>
                        <th>Fotografia</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr *ngFor="let author of authors;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{author.name}}</td>
                        <td> <img
                                [src]="validImageUrl(author.photo) ? author.photo : 'assets/images/image-not-found.png' "
                                alt=""> </td>
                        <td>
                            <button type="button" (click)="setFormUpdate(author.id)"
                                class="button button-alert btn-medium"><i class="fas fa-edit"></i>
                                Editar</button>
                            <button type="button" class="button button-danger btn-medium"><i class="fas fa-trash"></i>
                                Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table__pagination">
                <button *ngFor="let n of numberPages" (click)="getAllAuthors(10,n)" class="table__pagination-number"
                    [ngClass]="{ 'table__pagination-active':  n === pageActive }">{{n}}</button>
            </div>
        </div>
    </div>
</div>