.author {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  &__list {
    grid-column: 5/11;
    height: min-content;
  }

  &__form {
    grid-column: 1/5;
    height: max-content;
  }
}
