<div class="title-page">
    <h2>Registrar de Usuario</h2>
    <div class="title-page-title"></div>
</div>
<div class="home author">
    <div class="card author__form">
        <div class="card__title">
            <h3>Agregar nuevo Usuario</h3>
        </div>
        <div class="card__body">
            <form action="" class="form">
                <div class="input">
                    <label for="" class="input__title">Correo</label>
                    <input type="text" class="input__input">
                </div>
                <div class="input">
                    <label for="" class="input__title">Nombre de Usuario</label>
                    <input type="text" class="input__input">
                </div>
                <div class="input">
                    <label for="" class="input__title">Contrasenia</label>
                    <input type="password" class="input__input">
                </div>
                <div class="input">
                    <label for="" class="input__title">Repita la contrasenia</label>
                    <input type="password" class="input__input">
                </div>
                <div class="form__buttons">
                    <button type="submit" class="button button-primary form__buttons-right"><i class="far fa-save"></i>
                        Guardar Datos</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card author__list">
        <div class="card__title">
            <h3>Lista de usuarios Registrados</h3>
        </div>
        <div class="card__body">
            <table class="table">
                <thead class="table__head">
                    <tr>
                        <th>Nro.</th>
                        <th>Usuario</th>
                        <th>Correo</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>